<ion-view view-title="calc">
  <ion-content class="padding">
    <!-- <h1>Alo! </h1>
    <p>{{message}}</p> -->

    <div class="list">
      <label class="item item-input">
        <input type="number" placeholder="First Value" ng-model="num1">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="Second Value" ng-model="num2">
      </label>
    </div>

    <button class="button button-outline button-positive button-block" ng-click="sum()"> Sum</button>
    <!-- <br/> -->

    <button class="button button-outline button-positive button-block" ng-click="sub()"> Sub</button>

    <button class="button button-outline button-positive button-block" ng-click="mult()"> Mult</button>

    <button class="button button-outline button-positive button-block" ng-click="division()"> Division</button>

    <!-- <div class="card">
      <div class="item item-divider">
        Your result is ...
      </div>
      <div class="item item-text-wrap">
        Result: {{result}}
      </div>
      <div class="item item-divider">
        Krzy right
      </div>
    </div> -->

  </ion-content>
</ion-view>
